@page
@model IndexModel
@{
    ViewData["Title"] = "Онлайн-курсы";
}

<div class="container my-5">
    <h1 class="mb-4">Наши онлайн-курсы</h1>
    <p>Выберите интересующий вас курс и начните обучение прямо сейчас!</p>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/lib/images/Python.jpg" class="card-img-top" alt="Курс по программированию на Python">
                <div class="card-body">
                    <h5 class="card-title">Курс по программированию на Python</h5>
                    <p class="card-text">Освойте основы Python и создавайте свои первые программы.</p>
                    <a href="https://www.youtube.com/watch?v=34Rp6KVGIEM&list=PLDyJYA6aTY1lPWXBPk0gw6gR8fEtPDGKa" class="btn btn-primary">Смотреть видео</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/lib/images/Machine.png" class="card-img-top" alt="Курс по машинному обучению">
                <div class="card-body">
                    <h5 class="card-title">Курс по машинному обучению</h5>
                    <p class="card-text">Изучите основы машинного обучения и создавайте интеллектуальные системы.</p>
                    <a href="https://www.youtube.com/watch?v=dEFxoyJhm3Y&list=PLZSPcxXPEZVoaCDSEtrrSq2i_ewYqrzZE" class="btn btn-primary">Смотреть видео</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/lib/images/English.jpg" class="card-img-top" alt="Курс по английскому языку">
                <div class="card-body">
                    <h5 class="card-title">Курс по английскому языку</h5>
                    <p class="card-text">Улучшите свои навыки английского языка с помощью интерактивных уроков.</p>
                    <a href="https://www.youtube.com/watch?v=BAahBqreWZw&list=PLD6SPjEPomasNzHuJpcS1Fxa2PYf1Bm-x" class="btn btn-primary">Смотреть видео</a>
                </div>
            </div>
        </div>
    </div>
</div>
