@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
} <div class="text-center"> <h1 class="display-4">Добро пожаловать на сайт онлайн-курсов</h1> 
    <p>Исследуйте широкий спектр онлайн-курсов и совершенствуйте свои навыки в различных областях.</p> 
    <p><a href="#">Узнать больше</a></p> </div>