@page
@model PrivacyModel
@{

}
<h1>@ViewData["Title"]</h1>
<div class="container my-5">
    <h1 class="mb-4">Политика конфиденциальности</h1>
    <p>Мы серьезно относимся к защите вашей личной информации и обязуемся обращаться с ней с должным уважением и заботой. Эта политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу личную информацию.</p>
    <h2 class="mt-5 mb-3">Сбор и использование личной информации</h2>
    <p>Мы собираем личную информацию, которую вы предоставляете нам напрямую, например, при регистрации на сайте или при отправке нам сообщения. Эта информация может включать ваше имя, адрес электронной почты, номер телефона и другие данные.</p>
    <p>Мы используем эту информацию для предоставления вам наших услуг, ответа на ваши запросы и улучшения нашего сайта и предложений.</p>
    <h2 class="mt-5 mb-3">Раскрытие личной информации</h2>
    <p>Мы не продаем, не сдаем в аренду и не передаем вашу личную информацию третьим сторонам, за исключением случаев, когда это необходимо для предоставления наших услуг или когда этого требует закон.</p>
    <h2 class="mt-5 mb-3">Защита личной информации</h2>
    <p>Мы принимаем разумные меры для защиты вашей личной информации от несанкционированного доступа, изменения, раскрытия или уничтожения. Однако, несмотря на наши усилия, мы не можем гарантировать абсолютную безопасность ваших данных.</p>
    <h2 class="mt-5 mb-3">Изменения в политике конфиденциальности</h2>
    <p>Мы оставляем за собой право время от времени вносить изменения в эту политику конфиденциальности. Любые изменения вступают в силу с момента публикации обновленной политики на нашем сайте.</p>
    <p>Если у вас есть какие-либо вопросы или опасения по поводу нашей политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу [email protected]</p>
</div>
