@page
@model IndexModel
@{
    ViewData["Title"] = "Преподаватели";
}

<div class="container my-5">
    <h1 class="mb-4">Преподаватели</h1>
    <p>Познакомьтесь с нашими талантливыми преподавателями, которые помогают вам в обучении.</p>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Иван Иванов">
                <div class="card-body">
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Преподаватель факультета информационных технологий.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Мария Петрова">
                <div class="card-body">
                    <h5 class="card-title">Мария Петрова</h5>
                    <p class="card-text">Преподавателька факультета экономики.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Дмитрий Смирнов">
                <div class="card-body">
                    <h5 class="card-title">Дмитрий Смирнов</h5>
                    <p class="card-text">Преподаватель факультета математики.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Екатерина Кузнецова">
                <div class="card-body">
                    <h5 class="card-title">Екатерина Кузнецова</h5>
                    <p class="card-text">Преподавателька факультета лингвистики.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Сергей Васильев">
                <div class="card-body">
                    <h5 class="card-title">Сергей Васильев</h5>
                    <p class="card-text">Преподаватель факультета физики.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Алексей Панов">
                <div class="card-body">
                    <h5 class="card-title">Алексей Панов</h5>
                    <p class="card-text">Преподаватель факультета химии.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Наталья Рыбалова">
                <div class="card-body">
                    <h5 class="card-title">Наталья Рыбалова</h5>
                    <p class="card-text">Преподавателька факультета биологии.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Владимир Кузнецов">
                <div class="card-body">
                    <h5 class="card-title">Владимир Кузнецов</h5>
                    <p class="card-text">Преподаватель факультета географии.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Елена Соколова">
                <div class="card-body">
                    <h5 class="card-title">Елена Соколова</h5>
                    <p class="card-text">Преподавателька факультета психологии.</p>
                </div>
            </div>
        </div>
    </div>
</div>
